{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Moje oferty{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}

{% block content %}
<main class="mx-auto" style="max-width: 1600px;">

    <h1 class="h2 fw-bold my-4 text-center">Moje oferty</h1>

    {% for category, offers in categories %}
        {% if category == "Aktywne oferty"%} <h2 class="mb-3 px-4 h4 fw-bold">Wystawione przeze mnie</h2> {% endif %}
        <h3 class="mb-3 px-4 h5 text-primary">{{ category }}</h3>

        <ul class="list-unstyled px-4 my-4 w-100 mx-auto">
            {% for offer in offers %}
                <li class="mb-4">
                    <a href="{% url 'offer-details' offer.slug %}?source=my_offers" class="text-decoration-none text-dark">
                        <article class="p-4 border rounded shadow-sm offer-card bg-white d-flex align-items-start">

                            {% if offer.image %}
                                <div class="offer-image-wrapper me-4">
                                    <img src="{{ offer.image.url }}" alt="Zdjęcie ogłoszenia" class="offer-image">
                                </div>
                            {% else %}
                                <div class="offer-image-wrapper me-4 d-flex align-items-center justify-content-center bg-light text-muted">
                                    <span>Brak zdjęcia</span>
                                </div>
                            {% endif %}

                            <div class="offer-details flex-grow-1">

                                <!-- Tytuł i cena -->
                                <div class="d-flex justify-content-between align-items-start mb-1">
                                    <h1 class="h5 fw-bold mb-0">
                                        {{ offer.car.vehicle_brand }}
                                        {% if offer.car.vehicle_model %} {{ offer.car.vehicle_model }}{% endif %}
                                        {% if offer.car.vehicle_version %} {{ offer.car.vehicle_version }}{% endif %}
                                    </h1>

                                    <div class="offer-price h5 fw-bold">
                                        {{ offer.price }} PLN
                                    </div>
                                </div>

                                <h4 class="h6 text-secondary mb-3">
                                    {{ offer.car.displacement_cm3|default:"-" }} cm³ •
                                    {{ offer.car.power_hp|default:"-" }} KM
                                </h4>

                                <h3 class="h6 mb-3 text-muted">
                                    <i class="fa-solid fa-road me-1"></i>
                                    {{ offer.car.mileage_km|default:"-" }} km
                                    <span class="mx-2">•</span>
                                    <i class="fa-solid fa-gas-pump me-1"></i>
                                    {{ offer.car.get_fuel_type_display|default:"-" }}
                                    <span class="mx-2">•</span>
                                    <i class="fa-solid fa-gears me-1"></i>
                                    {{ offer.car.get_transmission_display|default:"-" }}
                                    <span class="mx-2">•</span>
                                    <i class="fa-solid fa-calendar me-1"></i>
                                    {{ offer.car.production_year|default:"-" }}
                                </h3>

                                <address class="text-muted small mb-1">
                                    {% if category == "Polubione oferty"%}
                                    <i class="fa-solid fa-user me-1"></i>
                                    {{ offer.seller.first_name|default:"-" }}
                                    <span class="mx-2">•</span>
                                    {% endif %}
                                    <i class="fa-solid fa-location-dot me-1"></i>
                                    {{ offer.city|default:"-" }},
                                    {{ offer.get_province_display|default:"-" }}
                                </address>

                                <p class="small mb-0 mt-3 fw-bold">
                                    Data publikacji: {{ offer.offer_publication_date }}
                                </p>
                                {% if category == "Sprzedane oferty" or category == "Zakończone, niesprzedane oferty" %}
                                <p class="small mb-0 fw-bold">
                                    Data zakończenia: {{ offer.offer_end_date|default:"-" }}
                                </p>
                                {% endif %}

                                {% if category == "Aktywne oferty" %}
                                        <button type="submit" class="btn btn-outline-danger btn-sm mt-2">
                                            Zakończ ofertę
                                        </button>
                                {% endif %}

                            </div>
                        </article>
                    </a>
                </li>
            {% empty %}
                <p class="text-muted px-4">Brak ofert w tej kategorii.</p>
            {% endfor %}
        </ul>
    {% endfor %}

</main>
{% endblock %}